body {
    font-family: 'Roboto', sans-serif;
}

nav img {
    width: 180px;
}

.slogan {
    background-image: url("./img/pvc-roofing-membranes.jpg");
    background-repeat: no-repeat;
    padding: 130px 0;
    position: relative;
    isolation: isolate;
}

.slogan::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    opacity: .5;
    background-color: #000;
}